.badge {
  display: inline-block;
  padding: 0.5em 1em;
  margin-left: 10px;
  border-radius: 0.25em;
  font-size: 0.875em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
}

.badge-medicine {
  background-color: #dd00ff;
}

.badge-diagnose {
  background-color: #ffc107;
}

.badge-treatment {
  background-color: #ff0000;
}

.badge-info {
  background-color: #17a2b8;
}
